#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(243, 243, 243);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.board-background {
  width: 330px;
  height: 410px;
  border: solid 1px #bcd9da;
  background-color: #bcd9da;
  border-radius: 6px;
  margin: 4px;
  position: static;
}

.board {
  width: 320px;
  height: 380px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  border: solid 1px #cce4de;
  background-color: #cce4de;
  border-radius: 6px;
  margin: 4px;
  position: static;
}

.cell {
  display: inline-flex;
  padding-top: 15px;
  width: 64px;
  height: 64px;
  border: solid 1px #bcd9da;
  background-color: #bcd9da;
  border-radius: 6px;
  margin: 4px;
  position: static;
}

.number-tile {
  border-radius: 6px;
  margin: 4px;
  width: 64px;
  height: 75px;
  font-size: xxx-large;
  color: black;
  z-index: 0;
}

.number-tile.two {
  color: white;
  background-color: #6bccfd;
  border: solid 1px #6bccfd;
  border-bottom: solid 9px #5ba8f4;
}

.number-tile.three {
  color: white;
  background-color: #fe6982;
  border: solid 1px #fe6982;
  border-bottom: solid 9px #cc517b;
}

.number-tile.five {
  background-color: #ffffff;
  border: solid 1px #fec969;
  border-bottom: solid 9px #fec969;
}
